#in production DEBUG=False

DEBUG=True  # local dev always actived 
SECRET_KEY=YOUR_DJANGO_API_KEY
SERPAPI_API_KEY=YOUR_API_KEY
GOOGLE_API_KEY=YOUR_API_KEY
UNSPLASH_ACCESS_KEY=YOUR_ACCESS_KEY
DATABASE_URL=BDD_URL
ALLOWED_HOSTS=localhost,127.0.0.1,[::1],YOUR_URL_HOST_HERE


